.error-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 2px dashed red;
    color: red;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: #fff0f0;
}